$nav_height: 65px;
$nav_height_mb: 135px;
.nav {
    $nav: nav;
    padding-bottom: 12px;
    text-align: center;
    height: $nav_height;
    background: url(../images/nav-bg.png) repeat-x 0 0;
    @include respond-to(small) {
        // background: url(../images/nav-bg-m.png) repeat-x 0 0;
    }
    &-logo {
        float: left;
        margin-right: 35px;
        a {
            display: block;
            height: $nav_height - 10;
            margin-top: 15px;
        }
        span {
            @include logo();
        }
        @include respond-to(small) {
            margin: 15px;
            span {
                @include logo-m();
            }
        }
    }
    &__home a {
        display: block;
        width: auto;
        overflow: hidden;
        float: left;
        span {
            @include nav-home-link();
            margin: 20px 0px 0 10px;
        }
        @include respond-to(small) {
            margin: 10px 0px 0 10px;
            span {
                @include home-m();
            }
        }
    }
    &-btn {
        display: block;
        z-index: 5;
    }
    &-menu {
        ul {
            a {
                color: #a84200;
                font-size: 1.6rem;
                @include respond-to(small) {
                    font-size: 2.8rem;
                    line-height: 80px;
                }
            }
            @include respond-to(small-up) {
                float: left;
                margin-left: 30px;
                background: url(../images/menu_dotted.png) no-repeat left 50%; // background: red;
                .nav-item {
                    float: left;
                    transition: 0.3s;
                    >a {
                        height: $nav_height;
                        line-height: $nav_height;
                        vertical-align: middle;
                        display: block;
                        @include respond-to(small-up) {
                            width: 140px;
                        }
                    }
                }
            }
            @include respond-to(small) {
                padding-top: 40px;
                .nav-item> a {
                    display: block;
                    
                }
            }
        }
        .nav-item {
            padding: 0 10px;
            background: url(../images/menu_dotted.png) no-repeat 100% 50%;
            position: relative;
            @include respond-to(small) {
                padding: 0;
                width: 100%;
                background: none;
                text-align: center;
            }
            &.nav-item--parent {
                @include respond-to(small-up) {
                    >a {
                        margin-top: 10px;
                        height: $nav_height - 10;
                        line-height: $nav_height - 20;
                        position: relative;
                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            background: #fff45c;
                            border-radius: 10px 10px 0 0;
                            z-index: 0;
                            opacity: 0;
                            transition: $transition-all;
                        }
                        span {
                            position: relative;
                            z-index: 1;
                        }
                    }
                    &.active {
                        .nav-sub-wrap {
                            // height: auto;
                            // overflow: hidden;
                            z-index: 1;
                        }
                        .nav-sub-menu {
                            // opacity: 1;
                        }
                        a:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .nav-sub-wrap {
            // &:before {
            //     content: "";
            //     display: block;
            //     background: red;
            //     position: fixed;
            //     top: 0;
            //     right: 0;
            //     left: 0;
            //     bottom: 0;
            // }
            @include respond-to(small-up) {
                // height: 0;
                overflow: hidden;
                position: absolute;
                right: 10px;
                top: $nav_height - 10;
                z-index: -1;
            }
        }
        .nav-sub-menu {
            @include respond-to(small-up) {
                background: #fff45c;
                width: 492px;
                border-radius: 10px 0 10px 10px;
                padding: 20px 0;
                // opacity: 0;
                transition: $transition-all;
                &__item {
                    a {
                        display: block;
                        height: auto;
                        padding: 0;
                        line-height: 3.2rem;
                        padding: 0 20px;
                        text-align: left;
                    }
                    a:hover {
                        background: #fff;
                        color: #e60012;
                    }
                }
            }
            @include respond-to(small) {
                padding-top: 0;
                background: #ededed;
                a {
                    display: block;
                    font-size: 2.4rem;
                    color: #a84200;
                    &:hover,&:focus {
                        background: #fff45c;
                        color: #e60012;
                    }
                }
            }
        }
    }
    &-active {
        &-btn {
            display: block;
        }
    }
    &-soical {
        float: right;
        margin-top: 15px;
        &__item {
            float: left;
            margin-left: 10px;
        }
        @include respond-to(small) {
            display: none;
        }
    }
    @include respond-to(small) {
        height: $nav_height_mb;
        .nav-bd:before {
            background: url(../images/nav-bg-m.png) no-repeat 0 0;
            content: '';
            position: absolute;
            height: 132px;
            right: 0;
            left: 0;
            top: 0;
            display: block;
            z-index: 2;
        }
       
        .nav-logo,.nav__home,.nav-soical {
            position: relative;
            z-index: 3;
        }
        .l-container {
            position: static;
        }
        &-menu {
            // background: url(../images/nav-bg-m.png) #fff no-repeat 0 -101px;
            background: #fff;
            width: 100%;
            top: -301px;
            position: absolute;
            transition: all 0.3s ease-out;
            // display: none;
            padding: 30px 0;
            z-index: 1;
            &--active {
                box-shadow: 0 0 0 9999px rgba(0,0,0,0.4);
                top: 101px;
            }
        }
        &-btn {
            border-radius: 10px;
            display: block;
            width: 90px;
            height: 90px;
            position: absolute;
            cursor: pointer;
            right: 10px;
            top: 10px;
            background: #fff;
            z-index: 4;
            >.one,
            >.two,
            >.three {
                border-radius: 5px;
                width: 60px;
                height: 8px;
                background: #e60012;
                margin: 10px auto;
                backface-visibility: hidden;
                transition-duration: 0.3s;
            }
            >.one {
                margin: 20px auto 8px;
            }
        }
        &--active {
            .nav-btn {
                background: transparent;
                >.one {
                    // background: #fff;
                    transform: (rotate(45deg) translate(13px, 13px));
                }
                >.two {
                    opacity: 0;
                }
                >.three {
                    // background: #fff;
                    transform: (rotate(-45deg) translate(13px, -12px));
                }
            }
            
        }
    }
}