section.result-chart
    div.l-container
        div.title 玩過的人都對幾題
        div.chart
            div.chart-canvas
                .bar-item.bar1
                    .bar(ref="bar1")
                    .text(ref="bar3Text") {{lv1DisplayNumber}}%
                .bar-item.bar2
                    .bar(ref="bar2")
                    .text(ref="bar3Text") {{lv2DisplayNumber}}%
                .bar-item.bar3
                    .bar(ref="bar3")
                    .text(ref="bar3Text") {{lv3DisplayNumber}}%
            .user-bar(ref="userBar")
                .people(ref="user")
                .display-bar(ref="userDisplayBar")
            .y-line.clearfix
                - for (var i = 1; i <= 8; ++i) {
                    span
                - }
            .y-number.clearfix
                - for (var j = 0; j  <= 8; ++j) {
                    div.y-number-grid(v-bind:class="{active: userCorrectcCount == #{j}}")
                        span= j 
                - }

            