section.result-chart
    div.l-container
        div.title 玩過的人都對幾題
        div.chart
            div.chart-canvas
                .bar-item.bar1
                    .text 100%;
                    .bar
            .chart__y-line
                - for (var i = 1; i <= 8; ++i) {
                    span
                - }
            .chart__y-number
                - for (var i = 1; i <= 8; ++i) {
                    span= i
                - }

            