section.result-chart
    div.l-container
        div.title 玩過的人都對幾題
        div.chart
            div.chart-canvas
                .bar-item.bar1
                    .bar
                    .text 100%
                .bar-item.bar2
                    .bar
                    .text 100%
                .bar-item.bar3
                    .bar
                    .text 100%
            .user-bar
                .people
                .display-bar 
            .y-line.clearfix
                - for (var i = 1; i <= 8; ++i) {
                    span
                - }
            .y-number.clearfix
                - for (var i = 0; i <= 8; ++i) {
                    div.y-number-grid.active
                        span= i
                - }

            