div.l-footer.footer
    .footer1
        div.l-container
            a.logo1.hideText(href="http://www.uni-president.com.tw" target="_blank" title="統一企業官方網站") 統一企業官方網站
            a.logo2.hideText(href="http://www.pecos.com.tw" target="_blank" title="統一企業官方網站") 統一企業行銷網站
            p.text 本網站內容均受著作權法保障，除非有特別聲明，<br class="pcOnly">其著作權屬於統一企業(股)公司或其他內容提供者所有，請勿將全部或部分圖文內容轉載於任何形式媒體
    div.footer2
        div.l-container
            #commonhealth_footer
                .commonhealth_footer-channel
                    ul
                        li
                            a(href='http://www.commonhealth.com.tw/magazine/latest/', target='_blank') 康健雜誌
                        li
                            a(href='https://www.commonhealth.com.tw/book/index.action', target='_blank') 康健出版
                        li
                            a(href='http://www.commonhealth.com.tw/', target='_blank') 康健官網
                        li
                            a(href='https://www.youtube.com/user/CommonHealthTV', target='_blank') 康健影音
                        li
                            a(href='https://line.me/ti/p/@commonhealth', target='_blank') 康健LINE
                        br
                        li
                            a(href='https://www.facebook.com/commonhealth/', target='_blank') 康健FB
                        li
                            a(href='https://kb.commonhealth.com.tw/', target='_blank') 康健知識庫
                        li
                            a(href='https://club.commonhealth.com.tw/', target='_blank') 大人の社團
                        li
                            a(href='https://shop.commonhealth.com.tw/', target='_blank') 大人的好物
                .commonhealth_footer-copyright
                    | Copyright © 2017 康健雜誌. 
                    br
                    | All rights reserved. 版權所有，禁止擅自轉貼節錄
