
div.footer-page
    div.l-container
        .footer-page__content
            a.video.hideText(href="https://goo.gl/y8qFjk" target="_blank" title="熱銷單品 熱銷單品海鹽羅宋麵包鹹甜交織，成全令人懷念的經典美味") 熱銷單品海鹽羅宋麵包鹹甜交織，成全令人懷念的經典美味
            a.classic.hideText(href="https://goo.gl/SEd5yt" target="_blank" title="統一麵包 熱銷單品海鹽羅宋麵包鹹甜交織，成全令人懷念的經典美味") 統一麵包經典烘焙，一直都在不受時間限制，也能享受安心的美味
    include _footer.jade