doctype
//- TODO: Don't forget to set lang !!
html
    head    
        //- TODO: Check if it's the good charset
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='edge,chrome=1')
        title web title
        meta(name='description', content='')
        meta(name="viewport" content="width=640")

        // Schema.org markup for Google+
        meta(itemprop="name" content="")
        meta(itemprop="description" content="")
        meta(itemprop="image" content="指定顯示圖片")

        // og
        meta(property="og:title" content="title")
        meta(property="og:description" content="desc")
        meta(property="og:url" content="http://www.example.com/")
        meta(property="og:site_name" content="Friendo 粉多任務")
        meta(property="og:type" content="article")
        meta(property="og:image" content="指定顯示圖片")

        //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel="Shortcut Icon" type="image/x-icon" href="#")
        link(rel='stylesheet', href='css/main.css')