doctype
html(itemscope,itemtype="http://schema.org/Article",ng-app="markup" debug="false")
    //page default Information
    block pageInfo
        - var pageTitle = "麵包大解密 安心飲食新指標"
        - var pageDesc = "你知道常吃的麵包中，含有哪些成分嗎？你知道5分鐘買到的麵包，要通過多少小時的把關呢？康健熊健康出任務！帶你直擊經典烘焙的品牌生產線１張圖，３關鍵，秒懂麵包專業細節！"
        - var pageCover = "http://topic.commonhealth.com.tw/uni-bread/images/share-index.jpg";
    //html head
    include _head.jade
    //html body
    body.l-index
        div.l-wrap
            //nav
            div#nav
            //- include _nav.jade
            //- div.l-fb
            //-     div.l-container
            //-         div.fb-box
            //-             .fb-like(data-href='#', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true') 
            div.l-main#pageMain
                //main view
                block page_main
            
    script(src="bundle.js")

    //line init script
    script(src='https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js', async='async', defer='defer')
    //facebook init script
    #fb-root
    script.
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.11&appId=1955657071318292&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    //twitter init script
    script.
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {
            t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));

    script(type='text/javascript').         
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=262477160615577";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    script(type='text/javascript').
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 64865;
        _sf_async_config.domain = 'topic.commonhealth.com.tw';
        _sf_async_config.useCanonical = true;
        _sf_async_config.sections = 'SECTION';  //CHANGE THIS
        _sf_async_config.authors = 'AUTHOR';    //CHANGE THIS
        /** CONFIGURATION END **/
        (function(){
        function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
        document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    // Advenue DMP Container - Uni-president Website
    script(type='text/javascript', charset='UTF-8').
        (function(w,d,s,i,c){var f=d.createElement(s);f.type="text/javascript";f.async=true;f.src=("https:"==d.location.protocol? "https://ssl-avd.innity.net":"http://avd.innity.net")+"/"+i+"/container_"+c+".js";var g=d.getElementsByTagName(s)[0];g.parentNode.insertBefore(f, g);})(window, document, "script", "283", "583e77871c51b1e062befc53");
    // End Advenue DMP Container

