div.library#libarys
    .libary__group.libary__group--1(v-on:click="toogleLibary($event,1)" v-bind:class="{'active': currentOpened == 1}")
        .libary__title
            div.l-container
                span.text 一般麵包知識題
                span.icon
        .libary__content(ref="content1")
            dl.l-container
                .main
                    div.item
                        dt.q Q. 製成麵包需要哪四大基本元素？
                        dd.a Ans. 麵粉、水、鹽、酵母
                        dd.text 製作麵包的基本原料包括了水、麵粉、鹽和酵母，臺灣較流行的麵包口味則會再加上油脂、糖和蛋。<br/>
                            |[麵粉] 影響口感。麵粉加水揉和時產生筋性，在發酵過程中，酵母產生的二氧化碳封鎖在麵糰中，讓麵包膨脹。<br/>
                            |[水] 若發酵時間充足，水能夠充分地滲透到麵粉的深層組織中，也能讓麵包更柔軟保濕。<br/>
                            |[鹽]讓麵糰具有柔軟度及彈性。<br/>
                            |[酵母] 可使麵糰蓬鬆。<br/>
                    div.item
                        dt.q Q. 麵包不添加防腐劑，會很容易發霉？
                        dd.a Ans. 不一定
                        dd.text 其實麵包是烤熟，並不容易壞，如果環境條件控制好，例如火候、溫濕度、麵包冷透後密封包裝等，可以用不加防腐劑的方式，再延長麵包的保鮮期。<br/>
                            |統一麵包為讓麵包更柔軟且不易乾硬，也掌控了麵包的水活性，在不添加添加物的前提下，增加賞味期限。
                    div.item
                        dt.q Q. 哪個菌種作用，讓麵包可以蓬鬆柔軟？
                        dd.a Ans. 應該是酵母菌
                        dd.text 酵母可使麵糰蓬鬆。<br/>
                            |統一麵包研究團隊不斷地技術創新，例如透過使用卵磷脂、蛋黃或是攪拌方式，強化口感綿密的效果。
    .libary__group.libary__group--2(v-on:click="toogleLibary($event,2)" v-bind:class="{active: currentOpened == 2}")
        .libary__title
            div.l-container
                span.text 包裝麵包認知題
                span.icon
        .libary__content(ref="content2")
            dl.l-container
                .main
                    div.item
                        dt.q Q. 年輕媽媽購買麵包給小朋友吃時，應該建議她注意下列哪項？
                        dd.a Ans. 原料、營養標示、製造日期、保存期限…以上皆是
                        dd.text 目前法規只規定包裝食品應有成分及營養標示，對於散裝食品的規範則相對寬鬆，只能期待業者自主標示原料及相關營養訊息。<br/>
                            |地方衛生單位的稽核也僅集中於一定規模以上的食品廠，對於坊間烘焙坊，只適用熟食法規來進行微生物汙染源的規範。<br/>
                            |大型食品廠在廠房配置、水源及食品衛生專業人員編制等都有規範，並要求業者具備原料溯源和自主檢驗的能力。小規模烘焙坊往往連與上游廠商的議價能力都有限，更遑論做到前往上游供應商查看的自主管理與源頭管理。<br/>
                            |如何確保民眾買到安心的商品，除了業者，更依賴消費者自身的選擇與把關！
                    div.item
                        dt.q 以下哪一個是台灣最大包裝麵包品牌logo？
                        dd.a.clearfix Ans.
                            img(src="./images/end_logoAns.png", alt="")
                        dd.text 
                            |統一麵包於1980年創立，是當時台灣最大、最自動化的機製麵包廠。38年來，統一麵包持續用心烘焙出經典麵包，堅持帶給人們吃的幸福。
                    div.item
                        dt.q Q. 麵包剛出爐，應該控制什麼環境因子來維持鮮度？
                        dd.a Ans. 溫濕度
                        dd.text 統一麵包生產廠除了有嚴密的清潔消毒，空氣中的落菌數也必須每天監測，全廠區內也均有嚴格的溫、溼度掌控。除了生產線上從半成品到成品的輸送過程，嚴格要求完整的覆蓋保護，包裝後的麵包，從廠內到裝上配送車送到門市，全程都必須控制在28℃ 以下。避免過程中出現任何食安隱憂。
    .libary__group.libary__group--3(v-on:click="toogleLibary($event,3)" v-bind:class="{active: currentOpened == 3}")
        .libary__title
            div.l-container
                span.text 麵包達人得分題
                span.icon
        .libary__content(ref="content3")
            dl.l-container
                .main
                    div.item
                        dt.q Q. 哪種麵包的製作方法，需費時較長時間？
                        dd.a Ans. 中種法（Sponge-Dough Method）
                        dd.text 
                            |[直接法] 是我們一般在食譜常見的：把所有的材料混合攪拌，揉好的麵糰直接進行基本發酵、翻麵及最後發酵等步驟。<br/>
                            |[中種法] 是師傅為製作更香更軟的麵包會採用的專業方法。<br/>
                            |統一麵包生產大廠，堅持用時間換品質，採用專業師傅的做法，以長時間4次發酵「中種法」，讓麵包「慢活」。其中包括基本發酵、延續發酵、中間發酵、最後發酵，才能完成。<br/>
                            |中種法製作的麵包更柔軟細緻，但代價是必須付出更長的時間和多一次的攪拌工作，整體而言費時費工。即使是坊間標榜手工的烘焙坊，大部分也都是選擇更快更省事的直接法。

                    div.item
                        dt.q Q. 麵包多以下哪個元素，能有較佳風味？
                        dd.a.clearfix Ans. 低溫熟成的自製老麵種 
                        dd.text 老麵種是指長時間發酵的麵糰，因為長期發酵，所以會比一般的麵糰香，也會讓麵包口感變好。<br/>
                            |統一麵包內部研發自製老麵種，以長時間低溫培養，讓酵母菌和乳酸菌能夠充分地生長。同時，也經過百位認證烘焙師傅的用心監控，只為讓消費者不受時間與空間限制，也能安心享受麵包的美味。