div.pop
    div.l-container
        div.pop__bd
            .pop__content
                .pop__title 麵包專業講解：鮮度≠添加防腐劑！
                .pop__text 麵包的鮮度取決於微生物生長速度，和製程及保存方式息息相關，控制環境中的溫度、濕度和落菌數及麵包的pH值和水分，麵包不需要防腐劑就能保持鮮度，放置3-4天都維持最佳風味。
                .pop__ctrls
                    .pop__btn 了解!