div.pop
    div.l-container
        div.pop__bd
            .pop__content
                .pop__title {{currentTitle}}
                .pop__text {{currentContent}}
                .pop__ctrls
                    .pop__btn 了解!