section.index.test
    div.index__hd
    div.index__bd
        div.index__content
            div.l-container
                div.l-vm
                    div.l-vm__content
                        .test__title(ref="title") 麵包大會考 快問快答挑戰賽 考驗你的麵包級數 
                        .index__cover(ref="cover")
                            .index__dish.index__dish--1(ref="dish1")
                            .index__dish.index__dish--2(ref="dish2")
                            .index__dish.index__dish--3(ref="dish3")
                            .index__dish.index__dish--4(ref="dish4")
                        .test__ctrls(ref="ctrls")
                            a(href="/qa.html"): span.hideText 開始測驗
                        .test__note.hide-text(ref="note")
                
    div.index__ft