//layout-index

include _head.jade

body.gud-page

	div.gud-button.row 
		h1  Button
		// Anchors (links)
		a.button(href='#features') 
			i.icon.cat-icon--literay
			span 打開筆尖開始紀錄
		a.button(href='about.html') 
			i.icon.cat-icon--literay
			span Learn More
		a.button(href='#features') 
			i.icon.cat-icon--literay
			span View All Features
		button.success.button(type='button') 
			i.icon.cat-icon--literay
			span Save
		button.alert.button(type='button') 
			i.icon.cat-icon--literay
			span Delete
		br			
		a.tiny.button(href='#') So Tiny
		a.small.button(href='#') So Small
		a.button(href='#') So Basic
		a.large.button(href='#') So Large
		a.expanded.button(href='#') Such Expand
		a.small.expanded.button(href='#') Wow, Small Expand
		a.secondary.button(href='#') Secondary Color
		a.success.button(href='#') Success Color
		a.alert.button(href='#') Alert Color
		a.warning.button(href='#') Warning Color
		a.disabled.button(href='#') Disabled Button

		button.hollow.button(href='#') Primary Color
		button.secondary.hollow.button(href='#') Secondary Color
		button.success.hollow.button(href='#') Success Color
		button.alert.hollow.button(href='#') Alert Color
		button.warning.hollow.button(href='#') Warning Color

	div.gud-button.row 
		p 文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落文章段落This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap strong around type to 

		h1 h1. 這是標題 This is a very large header.
			samll  Version 6.0.4
		h2 h2. 這是標題 This is a large header.
			samll  Version 6.0.4
		h3 h3. 這是標題 This is a medium header.
			samll  Version 6.0.4
		h4 h4. 這是標題 This is a moderate header.
			samll  Version 6.0.4
		h5 h5. 這是標題 This is a small header.
			samll  Version 6.0.4
		h6 h6. 這是標題 This is a tiny header.
			samll  Version 6.0.4



div.row.gud-color
	h1 color
	div.columns
		div.docs-color-block
			div.docs-color-block-1
			p $primary-color
	div.columns
		div.docs-color-block
			div.docs-color-block-2
			p $secondary-color
	div.columns
		div.docs-color-block
			div.docs-color-block-3
			p $success-color
	div.columns
		div.docs-color-block
			div.docs-color-block-4
			p $warning-color
	div.columns
		div.docs-color-block
			div.docs-color-block-5
			p $alert-color
	div.columns
		div.docs-color-block
			div.docs-color-block-6
			p $white
	div.columns
		div.docs-color-block
			div.docs-color-block-7
			p $black
	div.columns
		div.docs-color-block
			div.docs-color-block-8
			p $light-gray
	div.columns
		div.docs-color-block
			div.docs-color-block-9
			p $medium-gray
	div.columns
		div.docs-color-block
			div.docs-color-block-10
			p $dark-gray





