//layout-index

include _head.jade

body
    div.row 
    h1  Button
    p.icon.icon-zoom-in2  Button
    // Anchors (links)
    a.button.icon.icon-pen5(href='#') Learn More
    a.button(href='#') View All Features
    // Buttons (actions)
    button.success.button(type='button') Save
    button.alert.button(type='button') Delete
