//layout-index

include _head.jade

body
    div.l-wrap 
        nav.nav

        div.carousel
            div.main
                
                section.events-list.events-list--move
                    div.row
                        div.events-list__hd
                            h1.events__title 
                        div.events-list__bd
                            div.event-item
                        div.events-list__ft


    footer.footer