//page laytout name
extends _layout.jade

//page customized Information
block pageInfo
    - var pageTitle = "麵包大解密 安心飲食新指標 |　康健x統一麵包"
    - var pageDesc = "安心關鍵1： 麵包保鮮 安心關鍵2: 一致的品質 安心關鍵3: 飲食安全 "
//page html
block page_main
    div(id='index')
        include _index.jade
    include _footer.jade

