//layout-index

include _head.jade



body
	div.l-wrap 
		nav.nav
			div.row.columns 
			div.nav__bd
				
				
		div.carousel
		div.main   
			section.events-list.events-list--move
					div.row.l-container
						div.events-list__hd
							h3.events__title 清單名稱
						div.events-list__bd
							- for (var x = 0; x < 4; x++)
								div.event-item.large-6.medium-12.columns 
									div.event-item__media.callout 
										img(src="http://dummyimage.com/460x240/555/fff", alt="")
									div.event-item__info.callout
										div.event-item__inner
											p.event-item__title 活動名稱
											p.event-item__directions 活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明活動說明
										<hr>
										div.event-item__inner
											div.row.columns.large-12
												div.event-item__status.columns.large-6.medium-6.small-12 
													span.event-rank.event-rank--4
														i.icon.event-rank__1
														i.icon.event-rank__2
														i.icon.event-rank__3
														i.icon.event-rank__4
														i.icon.event-rank__5
													span.event-item__count
														span.title 活動人氣 
														i.icon.icon-fire2
														span.number 5555
												div.event-item__ctrl.columns.large-6.medium-6.small-12
													a.event-item__btn.button(href='#features') 
														i.icon.cat-icon--literay
														span 打開筆尖開始紀錄
						div.events-list__ft
	footer.footer