//page laytout name
extends _layout.jade

//page html
block page_main
    section.key.key3
        div.key__hd
        div.key__bd
            div.l-container
                section.key__content
                    h1.key__title 一張圖看懂 麵包保鮮關鍵 保鮮術？兼顧安心美味的製程秘密！
                    div.key__flow
                        div.key__flow__main
                            div.key__flow__bread.key__flow__bread--1
                            div.key__flow__box.key__flow__box--1
                            div.key__flow__bread.key__flow__bread--2
                            div.key__flow__box.key__flow__box--2
                            div.key__flow__line
                            div.key__flow__bread.key__flow__bread--3
                        div.key__anis
                            div.key__ani.key__ani--1
                            div.key__ani.key__ani--2
                            div.key__ani.key__ani--3
                            div.key__ani.key__ani--4
                            div.key__ani.key__ani--5
                        div.key__items
                            div.key__item.key__item--1
                                span.pc
                                span.mb
                                div.icon
                            div.key__item.key__item--2
                                span.pc
                                span.mb
                                div.icon                        
                            div.key__item.key__item--3
                                span.pc
                                span.mb
                                div.icon
                            div.key__item.key__item--4
                                span.pc
                                span.mb
                                div.icon
                            div.key__item.key__item--5
                                span.pc
                                span.mb
                                div.icon
                            div.key__item.key__item--6
                                span.pc
                                span.mb
                                div.icon
                    div.key__end
                        div.key__share
                            div.key__share__item.square_fb
                            div.key__share__item.square_line
                            div.key__share__item.square_tw
                            div.key__share__item.square_gl
                        div.key__end__note
                        div.key__end__ctrls
                            a.prev(href="#") xxxxx
                            a.next(href="#") 下個關鍵：麵包一致的品質
                        
        div.key__ft
            div.page__video
            div.page__always
    include _footer-page.jade
    //- include _pop.jade
