//page laytout name
extends _layout.jade
block pageInfo
    - var pageTitle = "安心關鍵3|康健x統一麵包"
    - var pageDesc = "一張圖看懂 麵包飲食安全關鍵 食安微角落靠專業自律！烘焙業龍頭大廠這樣做"
    - var pageCover = "http://topic.commonhealth.com.tw/pecos-bread/images/share-key3.jpg"
//page html
block page_main
    div(id="key")
        include _key3.jade
    include _footer-page.jade

