//page laytout name
extends _layout.jade
block pageInfo
    - var pageTitle = "安心關鍵2"
    - var pageDesc = "做麵包好複雜？每顆的品質控管又是難上加難？康健熊健康出任務！讓３０多年的老師傅告訴你：這樣，才是麵包品質一致的關鍵。"
    - var pageCover = "http://topic.commonhealth.com.tw/pecos-bread/images/share-key2.jpg"
//page html
block page_main
    div(id="key")
        include _key2.jade
    include _footer-page.jade

