//page laytout name
extends _layout.jade
block pageInfo
    - var pageTitle = "安心關鍵2|康健x統一麵包"
    - var pageDesc = "一張圖看懂 麵包一致的品質關鍵 30年麵包師傅：紀律，才能確保每一口最佳口感！"
    - var pageCover = "./images/share-key2.jpg"
//page html
block page_main
    include _key2.jade
    include _footer-page.jade

