//page laytout name
extends _layout.jade

//page html
block page_main
    section.key.key1
        div.key__hd
        div.key__bd
            div.l-container
                section.key__content
                h1.key__title.key1__title  一張圖看懂 麵包保鮮關鍵 保鮮術？兼顧安心美味的製程秘密！
                div.key__flow
                    div.key__flow__bread.key__flow__bread--1
                    div.key__flow__box.key__flow__box--1
                    div.key__flow__bread.key__flow__bread--2
                    div.key__flow__box.key__flow__box--2
                    div.key__flow__line
                    div.key__flow__bread.key__flow__bread--3
                    div.key__anis
                        div.key__ani.key__ani--1
                        div.key__ani.key__ani--2
                        div.key__ani.key__ani--3
                        div.key__ani.key__ani--4
                        div.key__ani.key__ani--5
                    div.key__items
                        div.key__item.key__item--1
                        div.key__item.key__item--2
                        div.key__item.key__item--3
                        div.key__item.key__item--4
                        div.key__item.key__item--5
        div.key__ft

