//page laytout name
extends _layout.jade
block pageInfo
    - var pageTitle = "安心關鍵3"
    - var pageDesc = "剛出爐的麵包香氣誘人，但你知道要經過多少關卡，才能成就一顆兼顧健康與美味的麵包？魔鬼藏在細節中！讓熊健康出任務，一次帶你了解食安微角落"
    - var pageCover = "http://topic.commonhealth.com.tw/uni-bread/images/share-key3.jpg"
//page html
block page_main
    div(id="key")
        include _key3.jade
    include _footer-page.jade

