//page laytout name
extends _layout.jade
//page customized Information
block pageInfo
    - var pageTitle = "安心關鍵1|康健x統一麵包"
    - var pageDesc = "一張圖看懂 麵包保鮮關鍵 保鮮術？兼顧安心美味的製程秘密！"
    - var pageCover = "http://topic.commonhealth.com.tw/pecos-bread/images/share-key1.jpg"
//page html
block page_main
    include _key1.jade
    include _footer-page.jade

