//page laytout name
extends _layoutReload.jade
block pageInfo
    - var pageTitle = "麵包大會考 快問快答挑戰賽"
    - var pageDesc = "喜愛麵包的我，原來是：高階麵包專業達人，經典中的經典！麵包百百種，麵包知識更是萬萬種~快來挑戰限時麵包大會考，由康健熊健康出題，測試你是不是麵包達人唷"
    - var pageCover = "http://topic.commonhealth.com.tw/pecos-bread/images/share-end3.jpg";

//page html
block page_main