//page laytout name
extends _layout.jade
block pageInfo
    - var pageTitle = "麵包大會考|康健x統一麵包"
    - var pageDesc = "快問快答挑戰賽 考驗你的麵包級數"
//page html
block page_main
    div(id="result")
        //- include _testResult.jade
        include _libarys.jade
        include _chart.jade
        include _footer.jade