//page laytout name
extends _layout.jade
block pageInfo
    - var pageTitle = "麵包大會考 快問快答挑戰賽"
    - var pageDesc = "喜愛麵包的我，原來是：初級麵包新手-復古好滋味！麵包百百種，麵包知識更是萬萬種~快來挑戰限時麵包大會考，由康健熊健康出題，測試你是不是麵包達人唷"
    - var pageCover = "http://topic.commonhealth.com.tw/pecos-bread/images/share-event.jpg"
//page html
block page_main
    div(id='test')
        include _test.jade
    include _footer.jade

