.footer-classic-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -10821px 0px;
  background-size: 14815px auto;
  width:539px;
  height: 203px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/footer-classic-m.png*/
}
%footer-classic-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -10821px 0px;
  background-size: 14815px auto;
  width:539px;
  height: 203px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/footer-classic-m.png*/
}
@mixin footer-classic-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -10821px 0px;
  background-size: 14815px auto;
  width:539px;
  height: 203px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/footer-classic-m.png*/
}
.footer-video-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -10277px 0px;
  background-size: 14815px auto;
  width:539px;
  height: 204px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/footer-video-m.png*/
}
%footer-video-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -10277px 0px;
  background-size: 14815px auto;
  width:539px;
  height: 204px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/footer-video-m.png*/
}
@mixin footer-video-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -10277px 0px;
  background-size: 14815px auto;
  width:539px;
  height: 204px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/footer-video-m.png*/
}
.home-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -35px 0px;
  background-size: 14815px auto;
  width:43px;
  height: 43px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/home-m.png*/
}
%home-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -35px 0px;
  background-size: 14815px auto;
  width:43px;
  height: 43px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/home-m.png*/
}
@mixin home-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -35px 0px;
  background-size: 14815px auto;
  width:43px;
  height: 43px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/home-m.png*/
}
.index-btn-arrow-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -17px 0px;
  background-size: 14815px auto;
  width:13px;
  height: 16px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-btn-arrow-m.png*/
}
%index-btn-arrow-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -17px 0px;
  background-size: 14815px auto;
  width:13px;
  height: 16px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-btn-arrow-m.png*/
}
@mixin index-btn-arrow-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -17px 0px;
  background-size: 14815px auto;
  width:13px;
  height: 16px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-btn-arrow-m.png*/
}
.index-btn-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -341px 0px;
  background-size: 14815px auto;
  width:160px;
  height: 54px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-btn-m.png*/
}
%index-btn-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -341px 0px;
  background-size: 14815px auto;
  width:160px;
  height: 54px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-btn-m.png*/
}
@mixin index-btn-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -341px 0px;
  background-size: 14815px auto;
  width:160px;
  height: 54px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-btn-m.png*/
}
.index-dish1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -7237px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish1-m.png*/
}
%index-dish1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -7237px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish1-m.png*/
}
@mixin index-dish1-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -7237px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish1-m.png*/
}
.index-dish2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -6763px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish2-m.png*/
}
%index-dish2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -6763px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish2-m.png*/
}
@mixin index-dish2-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -6763px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish2-m.png*/
}
.index-dish3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -6289px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish3-m.png*/
}
%index-dish3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -6289px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish3-m.png*/
}
@mixin index-dish3-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -6289px 0px;
  background-size: 14815px auto;
  width:469px;
  height: 256px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-dish3-m.png*/
}
.index-key1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -506px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key1-m.png*/
}
%index-key1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -506px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key1-m.png*/
}
@mixin index-key1-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -506px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key1-m.png*/
}
.index-key2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -705px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key2-m.png*/
}
%index-key2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -705px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key2-m.png*/
}
@mixin index-key2-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -705px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key2-m.png*/
}
.index-key3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -904px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key3-m.png*/
}
%index-key3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -904px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key3-m.png*/
}
@mixin index-key3-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -904px 0px;
  background-size: 14815px auto;
  width:194px;
  height: 226px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-key3-m.png*/
}
.index-link-arrow-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: 0px 0px;
  background-size: 14815px auto;
  width:13px;
  height: 16px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-link-arrow-m.png*/
}
%index-link-arrow-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: 0px 0px;
  background-size: 14815px auto;
  width:13px;
  height: 16px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-link-arrow-m.png*/
}
@mixin index-link-arrow-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: 0px 0px;
  background-size: 14815px auto;
  width:13px;
  height: 16px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-link-arrow-m.png*/
}
.index-note-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -13035px 0px;
  background-size: 14815px auto;
  width:588px;
  height: 189px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-note-m.png*/
}
%index-note-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -13035px 0px;
  background-size: 14815px auto;
  width:588px;
  height: 189px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-note-m.png*/
}
@mixin index-note-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -13035px 0px;
  background-size: 14815px auto;
  width:588px;
  height: 189px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-note-m.png*/
}
.index-slogan-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -8187px 0px;
  background-size: 14815px auto;
  width:513px;
  height: 183px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-slogan-m.png*/
}
%index-slogan-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -8187px 0px;
  background-size: 14815px auto;
  width:513px;
  height: 183px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-slogan-m.png*/
}
@mixin index-slogan-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -8187px 0px;
  background-size: 14815px auto;
  width:513px;
  height: 183px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-slogan-m.png*/
}
.index-test-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4064px 0px;
  background-size: 14815px auto;
  width:229px;
  height: 309px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-test-m.png*/
}
%index-test-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4064px 0px;
  background-size: 14815px auto;
  width:229px;
  height: 309px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-test-m.png*/
}
@mixin index-test-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4064px 0px;
  background-size: 14815px auto;
  width:229px;
  height: 309px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/index-test-m.png*/
}
.key-desc1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4298px 0px;
  background-size: 14815px auto;
  width:254px;
  height: 161px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc1-m.png*/
}
%key-desc1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4298px 0px;
  background-size: 14815px auto;
  width:254px;
  height: 161px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc1-m.png*/
}
@mixin key-desc1-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4298px 0px;
  background-size: 14815px auto;
  width:254px;
  height: 161px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc1-m.png*/
}
.key-desc2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -200px 0px;
  background-size: 14815px auto;
  width:136px;
  height: 57px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc2-m.png*/
}
%key-desc2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -200px 0px;
  background-size: 14815px auto;
  width:136px;
  height: 57px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc2-m.png*/
}
@mixin key-desc2-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -200px 0px;
  background-size: 14815px auto;
  width:136px;
  height: 57px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc2-m.png*/
}
.key-desc3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -82px 0px;
  background-size: 14815px auto;
  width:113px;
  height: 57px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc3-m.png*/
}
%key-desc3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -82px 0px;
  background-size: 14815px auto;
  width:113px;
  height: 57px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc3-m.png*/
}
@mixin key-desc3-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -82px 0px;
  background-size: 14815px auto;
  width:113px;
  height: 57px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc3-m.png*/
}
.key-desc4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4818px 0px;
  background-size: 14815px auto;
  width:260px;
  height: 260px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc4-m.png*/
}
%key-desc4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4818px 0px;
  background-size: 14815px auto;
  width:260px;
  height: 260px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc4-m.png*/
}
@mixin key-desc4-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4818px 0px;
  background-size: 14815px auto;
  width:260px;
  height: 260px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key-desc4-m.png*/
}
.key1-1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5083px 0px;
  background-size: 14815px auto;
  width:291px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-1-m.png*/
}
%key1-1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5083px 0px;
  background-size: 14815px auto;
  width:291px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-1-m.png*/
}
@mixin key1-1-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5083px 0px;
  background-size: 14815px auto;
  width:291px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-1-m.png*/
}
.key1-2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3215px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-2-m.png*/
}
%key1-2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3215px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-2-m.png*/
}
@mixin key1-2-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3215px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-2-m.png*/
}
.key1-3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2369px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 237px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-3-m.png*/
}
%key1-3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2369px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 237px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-3-m.png*/
}
@mixin key1-3-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2369px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 237px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-3-m.png*/
}
.key1-4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2158px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-4-m.png*/
}
%key1-4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2158px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-4-m.png*/
}
@mixin key1-4-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2158px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-4-m.png*/
}
.key1-5-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3003px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-5-m.png*/
}
%key1-5-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3003px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-5-m.png*/
}
@mixin key1-5-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3003px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-5-m.png*/
}
.key1-6-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1736px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-6-m.png*/
}
%key1-6-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1736px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-6-m.png*/
}
@mixin key1-6-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1736px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-6-m.png*/
}
.key1-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -11365px 0px;
  background-size: 14815px auto;
  width:543px;
  height: 279px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-footer-m.png*/
}
%key1-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -11365px 0px;
  background-size: 14815px auto;
  width:543px;
  height: 279px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-footer-m.png*/
}
@mixin key1-footer-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -11365px 0px;
  background-size: 14815px auto;
  width:543px;
  height: 279px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-footer-m.png*/
}
.key1-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -9749px 0px;
  background-size: 14815px auto;
  width:523px;
  height: 287px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-title-m.png*/
}
%key1-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -9749px 0px;
  background-size: 14815px auto;
  width:523px;
  height: 287px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-title-m.png*/
}
@mixin key1-title-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -9749px 0px;
  background-size: 14815px auto;
  width:523px;
  height: 287px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key1-title-m.png*/
}
.key2-1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5674px 0px;
  background-size: 14815px auto;
  width:293px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-1-m.png*/
}
%key2-1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5674px 0px;
  background-size: 14815px auto;
  width:293px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-1-m.png*/
}
@mixin key2-1-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5674px 0px;
  background-size: 14815px auto;
  width:293px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-1-m.png*/
}
.key2-2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3851px 0px;
  background-size: 14815px auto;
  width:208px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-2-m.png*/
}
%key2-2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3851px 0px;
  background-size: 14815px auto;
  width:208px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-2-m.png*/
}
@mixin key2-2-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3851px 0px;
  background-size: 14815px auto;
  width:208px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-2-m.png*/
}
.key2-3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1103px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-3-m.png*/
}
%key2-3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1103px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-3-m.png*/
}
@mixin key2-3-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1103px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-3-m.png*/
}
.key2-4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1314px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-4-m.png*/
}
%key2-4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1314px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-4-m.png*/
}
@mixin key2-4-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1314px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 234px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-4-m.png*/
}
.key2-5-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2580px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-5-m.png*/
}
%key2-5-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2580px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-5-m.png*/
}
@mixin key2-5-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2580px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-5-m.png*/
}
.key2-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -13627px 0px;
  background-size: 14815px auto;
  width:591px;
  height: 364px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-footer-m.png*/
}
%key2-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -13627px 0px;
  background-size: 14815px auto;
  width:591px;
  height: 364px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-footer-m.png*/
}
@mixin key2-footer-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -13627px 0px;
  background-size: 14815px auto;
  width:591px;
  height: 364px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-footer-m.png*/
}
.key2-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -11912px 0px;
  background-size: 14815px auto;
  width:555px;
  height: 352px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-title-m.png*/
}
%key2-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -11912px 0px;
  background-size: 14815px auto;
  width:555px;
  height: 352px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-title-m.png*/
}
@mixin key2-title-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -11912px 0px;
  background-size: 14815px auto;
  width:555px;
  height: 352px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key2-title-m.png*/
}
.key3-1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5378px 0px;
  background-size: 14815px auto;
  width:291px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-1-m.png*/
}
%key3-1-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5378px 0px;
  background-size: 14815px auto;
  width:291px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-1-m.png*/
}
@mixin key3-1-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5378px 0px;
  background-size: 14815px auto;
  width:291px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-1-m.png*/
}
.key3-2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3639px 0px;
  background-size: 14815px auto;
  width:208px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-2-m.png*/
}
%key3-2-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3639px 0px;
  background-size: 14815px auto;
  width:208px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-2-m.png*/
}
@mixin key3-2-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3639px 0px;
  background-size: 14815px auto;
  width:208px;
  height: 235px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-2-m.png*/
}
.key3-3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1947px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 237px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-3-m.png*/
}
%key3-3-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1947px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 237px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-3-m.png*/
}
@mixin key3-3-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1947px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 237px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-3-m.png*/
}
.key3-4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2791px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-4-m.png*/
}
%key3-4-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2791px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-4-m.png*/
}
@mixin key3-4-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -2791px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-4-m.png*/
}
.key3-5-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3427px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-5-m.png*/
}
%key3-5-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3427px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-5-m.png*/
}
@mixin key3-5-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -3427px 0px;
  background-size: 14815px auto;
  width:207px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-5-m.png*/
}
.key3-6-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1525px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-6-m.png*/
}
%key3-6-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1525px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-6-m.png*/
}
@mixin key3-6-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -1525px 0px;
  background-size: 14815px auto;
  width:206px;
  height: 236px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-6-m.png*/
}
.key3-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -14223px 0px;
  background-size: 14815px auto;
  width:591px;
  height: 321px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-footer-m.png*/
}
%key3-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -14223px 0px;
  background-size: 14815px auto;
  width:591px;
  height: 321px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-footer-m.png*/
}
@mixin key3-footer-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -14223px 0px;
  background-size: 14815px auto;
  width:591px;
  height: 321px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-footer-m.png*/
}
.key3-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -12472px 0px;
  background-size: 14815px auto;
  width:558px;
  height: 292px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-title-m.png*/
}
%key3-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -12472px 0px;
  background-size: 14815px auto;
  width:558px;
  height: 292px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-title-m.png*/
}
@mixin key3-title-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -12472px 0px;
  background-size: 14815px auto;
  width:558px;
  height: 292px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/key3-title-m.png*/
}
.logo-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5971px 0px;
  background-size: 14815px auto;
  width:313px;
  height: 48px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/logo-m.png*/
}
%logo-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5971px 0px;
  background-size: 14815px auto;
  width:313px;
  height: 48px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/logo-m.png*/
}
@mixin logo-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -5971px 0px;
  background-size: 14815px auto;
  width:313px;
  height: 48px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/logo-m.png*/
}
.qa-item-bg-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -7711px 0px;
  background-size: 14815px auto;
  width:471px;
  height: 308px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/qa-item-bg-m.png*/
}
%qa-item-bg-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -7711px 0px;
  background-size: 14815px auto;
  width:471px;
  height: 308px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/qa-item-bg-m.png*/
}
@mixin qa-item-bg-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -7711px 0px;
  background-size: 14815px auto;
  width:471px;
  height: 308px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/qa-item-bg-m.png*/
}
.test-btn-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4557px 0px;
  background-size: 14815px auto;
  width:256px;
  height: 71px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-btn-m.png*/
}
%test-btn-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4557px 0px;
  background-size: 14815px auto;
  width:256px;
  height: 71px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-btn-m.png*/
}
@mixin test-btn-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -4557px 0px;
  background-size: 14815px auto;
  width:256px;
  height: 71px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-btn-m.png*/
}
.test-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -9225px 0px;
  background-size: 14815px auto;
  width:519px;
  height: 252px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-footer-m.png*/
}
%test-footer-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -9225px 0px;
  background-size: 14815px auto;
  width:519px;
  height: 252px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-footer-m.png*/
}
@mixin test-footer-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -9225px 0px;
  background-size: 14815px auto;
  width:519px;
  height: 252px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-footer-m.png*/
}
.test-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -8705px 0px;
  background-size: 14815px auto;
  width:516px;
  height: 267px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-title-m.png*/
}
%test-title-m {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -8705px 0px;
  background-size: 14815px auto;
  width:516px;
  height: 267px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-title-m.png*/
}
@mixin test-title-m() {
  display: block;
  background-image: url("../images/spritex2.png?v=0.3086688661283563");
  background-position: -8705px 0px;
  background-size: 14815px auto;
  width:516px;
  height: 267px;
/*source-image:/Users/apple/Documents/Git/basic-porject/src/images/spritesx2/test-title-m.png*/
}
